*.png
*.jpg
*.gif
*.pyc
*.py~
*.sh~
*.pbs~
*.r~
*.log
scripts/CB_*
scripts/*.e*
scripts/logs/*
build/
dist/
text_analysis.egg-info/
scripts/prod/*.e*
scripts/prod/*.log
scripts/dev/*.log
scripts/dev/*.e*
